exportPattern("^[^\\.]")
import(png)
import(jpeg)
import(grDevices)
import(graphics)
import(stats)
import(untils)
S3method(fd, matrix)
S3method(setup.figure, gridRowScheme)
S3method(setup.figure, gridColScheme)
